<!DOCTYPE html>
<html>
    <head>
        <title>WhoAmI API</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <div class="container">
            <h1>WhoAmI API</h1>
            <br>
            <br>
            <h4>This is a node.js API that returns visitors information in form of ip address, language and operating system.</h3>
            <h4><a href="/api/whoami">Try it out!</a></h4>
            <hr>
            <h4>Author: Ivan Matas</h4>
            <h4> <a href="https://github.com/zenjara/api_whoami">Source code</a></h4>
        </div>
